---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$volt-color-blue: #0098DB;
$volt-color-white: #F0F0F0;
$volt-black: #1F1F1F;
$volt-color-code-bg: #4A4A4A;
$volt-color-code-txt: white;
$volt-color-code-border: #6F6F6F;
$volt-font: 'PT Sans', Arial, Helvetica, sans-serif;
$article-tags-margin: 0.5em;

@import "base";
@import "layout";
@import "syntaxhighlight";

