<head>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif|Roboto+Mono" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}" type="text/css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/polyfill/svg.js" | prepend: site.baseurl }}"></script>
</head>
