.not-used-xxx    .hll { background-color: #ffffcc }
.comment { color: #408080; font-style: italic } /* Comment */
.error { border: 1px solid #FF0000 } /* Error */
.keyword { color: #008000; font-weight: bold } /* Keyword */
.operator { color: #666666 } /* Operator */
.not-used-xxx    .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.not-used-xxx    .cp { color: #BC7A00 } /* Comment.Preproc */
.not-used-xxx    .c1 { color: #408080; font-style: italic } /* Comment.Single */
.not-used-xxx    .cs { color: #408080; font-style: italic } /* Comment.Special */
.not-used-xxx    .gd { color: #A00000 } /* Generic.Deleted */
.not-used-xxx    .ge { font-style: italic } /* Generic.Emph */
.not-used-xxx    .gr { color: #FF0000 } /* Generic.Error */
.not-used-xxx    .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.not-used-xxx    .gi { color: #00A000 } /* Generic.Inserted */
.not-used-xxx    .go { color: #888888 } /* Generic.Output */
.not-used-xxx    .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.not-used-xxx    .gs { font-weight: bold } /* Generic.Strong */
.not-used-xxx    .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.not-used-xxx    .gt { color: #0044DD } /* Generic.Traceback */
.not-used-xxx    .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.not-used-xxx    .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.not-used-xxx    .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.not-used-xxx    .kp { color: #008000 } /* Keyword.Pseudo */
.not-used-xxx    .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.keyword.type { color: #B00040 } /* Keyword.Type */
.literal.number { color: #666666 } /* Literal.Number */
.literal.string { color: #BA2121 } /* Literal.String */
.not-used-xxx    .na { color: #7D9029 } /* Name.Attribute */
.name.builtin { color: #008000 } /* Name.Builtin */
.not-used-xxx    .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.not-used-xxx    .no { color: #880000 } /* Name.Constant */
.not-used-xxx    .nd { color: #AA22FF } /* Name.Decorator */
.not-used-xxx    .ni { color: #999999; font-weight: bold } /* Name.Entity */
.not-used-xxx    .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.not-used-xxx    .nf { color: #0000FF } /* Name.Function */
.not-used-xxx    .nl { color: #A0A000 } /* Name.Label */
.not-used-xxx    .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.not-used-xxx    .nt { color: #008000; font-weight: bold } /* Name.Tag */
.not-used-xxx    .nv { color: #19177C } /* Name.Variable */
.not-used-xxx    .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.not-used-xxx    .wt { color: #bbbbbb } /* Text.Whitespace */
.not-used-xxx    .mf { color: #666666 } /* Literal.Number.Float */
.not-used-xxx    .mh { color: #666666 } /* Literal.Number.Hex */
.not-used-xxx    .mi { color: #666666 } /* Literal.Number.Integer */
.not-used-xxx    .mo { color: #666666 } /* Literal.Number.Oct */
.not-used-xxx    .sb { color: #BA2121 } /* Literal.String.Backtick */
.not-used-xxx    .sc { color: #BA2121 } /* Literal.String.Char */
.not-used-xxx    .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.not-used-xxx    .s2 { color: #BA2121 } /* Literal.String.Double */
.not-used-xxx    .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.not-used-xxx    .sh { color: #BA2121 } /* Literal.String.Heredoc */
.not-used-xxx    .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.not-used-xxx    .sx { color: #008000 } /* Literal.String.Other */
.not-used-xxx    .sr { color: #BB6688 } /* Literal.String.Regex */
.not-used-xxx    .s1 { color: #BA2121 } /* Literal.String.Single */
.not-used-xxx    .ss { color: #19177C } /* Literal.String.Symbol */
.not-used-xxx    .bp { color: #008000 } /* Name.Builtin.Pseudo */
.not-used-xxx    .vc { color: #19177C } /* Name.Variable.Class */
.not-used-xxx    .vg { color: #19177C } /* Name.Variable.Global */
.not-used-xxx    .vi { color: #19177C } /* Name.Variable.Instance */
.not-used-xxx    .il { color: #666666 } /* Literal.Number.Integer.Long */
