
/* For highlighting link targets. */
@keyframes highlight {
	from {
		background: $volt-color-blue;
	}
	to {
		background: $volt-color-white;
	}
}

:target {
	animation: highlight 2s ease;
}

/* For all code highlights. */
a.code {
	color: $volt-color-blue;
	text-decoration: none;
}
a.code:hover {
	text-decoration: underline;
}

/* For the guru index page, black links. */
.v_idxmodlnk {
	color: $volt-color-black;
	cursor: pointer;
	text-decoration: none;
}

/* For the guru index page, blue links. */
.v_idxnamelnk {
	color: $volt-color-blue;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}

/* For the module page, the in group listing. */
.v_ingroup {
	margin-top: 0.2em;
	font-size: 75%;
}

/* For the module page, heading of the page. */
.v_modproto {
	margin-top: 1.75em;
	font-family: $volt-font-mono;
	font-size: 125%;
}
.v_modname {
	font-weight: bold;
}
.v_modprefix {
	color: $volt-color-proto-prefix;
	font-weight: normal;
}

/* For the children of objects. */
.v_child {
	margin-top: 1em;
}
.v_childtab {
	border-left: 5px solid $volt-color-blue;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.v_childheader {
	padding: 1ex;
	padding-left: 1em;
	background-color: $volt-color-child-background;
	border: 1px solid $volt-color-child-border;
	border-left: none;
	border-top-right-radius: 4px;
}
.v_childbody {
	padding: 1ex;
	padding-left: 1em;
	border: 1px solid $volt-color-child-border;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.v_paramtable {
	margin-left: 2em;
}

/* For the proto types in the child header. */
.v_proto {
	font-family: $volt-font-mono;
	font-size: 125%;
}
.v_protoname {
	font-weight: bold;
}
.v_protoprefix, .v_protoparams {
	color: $volt-color-proto-prefix;
	font-weight: normal;
}
